
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #03bd4d;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 8.2% 8.8%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 8.2% 8.8%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 8.2% 8.8%;

    --primary: 144 97% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 8.2% 8.8%;

    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96%;
    --accent-foreground: 222.2 8.2% 8.8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 144 97% 40%;
  }

  .dark {
    --background: 233 15% 9%;
    --foreground: 220 15% 98%;

    --card: 228 10% 10%;
    --card-foreground: 220 15% 98%;

    --popover: 228 10% 10%;
    --popover-foreground: 220 15% 98%;

    --primary: 144 97% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 220 15% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 220 15% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 220 15% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 144 97% 40%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-size: 16px;
  }

  /* Remove focus outlines for all inputs */
  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
    outline: none !important;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #181c1f;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #03bd4d80;
}
