
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #03bd4d;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  :root {
    --background: 233 15% 9%;
    --foreground: 220 15% 98%;

    --primary: 144 97% 40%;
    --primary-foreground: 0 0% 100%;

    --card: 228 10% 10%;
    --card-foreground: 220 15% 98%;

    --accent: 144 97% 40%;
    --accent-foreground: 0 0% 100%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 144 97% 40%;

    --muted: 210 8% 52%;
    --muted-foreground: 218 13% 65%;
  }
  .dark {
    --background: 233 15% 9%;
    --foreground: 220 15% 98%;
    --primary: 144 97% 40%;
    --primary-foreground: 0 0% 100%;
    --card: 228 10% 10%;
    --card-foreground: 220 15% 98%;
    --accent: 144 97% 40%;
    --accent-foreground: 0 0% 100%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 144 97% 40%;
    --muted: 210 8% 52%;
    --muted-foreground: 218 13% 65%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-size: 16px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #181c1f;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #03bd4d80;
}
